[submodule "Scotland/Covid-vaccine-waning-pooled"]
	path = Scotland/Covid-vaccine-waning-pooled
	url = https://github.com/EAVE-II/Covid-vaccine-waning-pooled
[submodule "Scotland/Covid-vaccine-safety-MA"]
	path = Scotland/Covid-vaccine-safety-MA
	url = https://github.com/EAVE-II/Covid-vaccine-safety-MA
[submodule "DaCVaP2/Variants/National-Analyses/Scotland/B.1.1.529-variant"]
	path = DaCVaP2/Variants/National-Analyses/Scotland/B.1.1.529-variant
	url = https://github.com/EAVE-II/B.1.1.529-variant
